
html { 

	     text-align: center;}
body {
  font-family: Papyrus, 'Times New Roman', serif;
 
  background-color: black;
  color: #fff;
  justify-content: center; 
  align-items: center; 
  height: 100%; margin: 0;
  
}
.container {
  text-align: center;
}
h1 {
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.btn-default {
  transition: transform .2s;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  
  
}

.btn-default:hover {
  transform: scale(1.5);
}
.btn-group {
  padding:10px 5px;
}

 p { 
   font-size: 0.3rem;
   }
   .units { font-size: 1.3rem; }
   .dht-labels{
   	font-size: 1.2rem;
   	vertical-align:middle;
   	padding-bottom: 15px;
 	   }
.statusbar { 
   font-size: 14px;
   text-align: center;
   color: skyblue;
   }

table {
  border: 0px solid aqua;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
table td, table th {
   border: 1px solid darkred;
   
   padding: 10px 10px;
}
.units { font-size: 1.3rem; }
td.thead {
  font-size: 20px;
  color:aqua;
  font-weight:bold;
  }
table thead th {
 
 font-weight:bold;
 color:aqua;
 text-align: center;
} 
.fan { 
	display: flex; 
	align-items: center; 
	justify-content: center;
	padding : 10px 10px;
	} 

#fanDropdown { 
	width: 160px; 
	height: 50px; 
	font-size: 18px;
	text-align: center; 
	background-color: black;
	color:aqua;
	display: flex; 
	align-items: center; 
	justify-content: center;
	display: inline-block; 

}


#spinButton { 
	width: 90px; 
	height: 50px; 
	font-size: 18px;
	text-align: center; 
	background-color: black;
	color:aqua;

} 
/* Spin button butonlarını özelleştirme */ 
input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button { 
	-webkit-appearance: none; 
	margin: 0; } 
input[type=number] { 
	-moz-appearance: textfield; } 
/* Butonları yeniden stilize etme */ 
.spin-button-container { 
	display: flex; 
	align-items: center; 
	justify-content: center;
	padding : 10px 5px;
	} 
.spin-button { 
	display: inline-block; 
	width: 40px; 
	height: 40px; 
	font-size: 24px; 
	text-align: center; 
	font-weight:bold;
	cursor: pointer; 
	user-select: none; 
	background-color: yellow; 
	color: red; 
	border: none; 
	/* margin: 5px; 
	border-radius: 5px; }